@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>
    <br/><br/>
    <button class="btn btn-primary" @onclick="ShowModal">Show Modal</button>
</p>
