@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
}*/

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #49afea;
    border-color: #49afea;
    /*background-color: #1b6ec2;
    border-color: #1861ac;*/
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #033e77;
        border-bottom: 1px solid #033e77;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*gradient values : #033e77 - 35%, #1fb1ef - 70%*/
.sidebar {
    background-image: linear-gradient(180deg, rgba(3,62,119,1) 35%, rgba(31,177,239,1) 70%);
}

    .sidebar .top-row {
        background-color: rgb(3,62,119);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.header {
    line-height: 100px;
    height: 100px;
    text-align: center;
    background-image: url('../img/headers/light-blue-bg.jpg');
}

    .header p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
        color: white;
    }

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

/* Start Header Info */
.intro-header {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}

    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 50px 0 50px;
        color: white;
    }

@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 50px 0;
    }
}

.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}

    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        margin-top: 0;
        font-size: 50px;
    }

    .intro-header .site-heading h2,
    .intro-header .page-heading h2 {
        margin-top: 0;
        color: white;
    }

    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading {
        font-size: 24px;
        line-height: 1.1;
        display: block;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin: 10px 0 0;
    }

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
        color: white;
    }
}

.intro-header .post-heading h1 {
    font-size: 35px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}

.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

    .intro-header .post-heading .meta a {
        color: white;
    }

@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }

    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}
/* End Header Info */

.header p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .blazored-custom-modal {
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 60vh;
        background-color: #fafafa;
        border-radius: 12px;
        border: 1px solid #fff;
        padding: 0.5rem;
        z-index: 102;
        box-shadow: 0 2px 2px rgba(0,0,0,.75);
    }

    .blazored-prompt-modal {
        display: flex;
        flex-direction: column;
        width: 600px;
        background-color: #fefefe;
        border-radius: 4px;
        border: 1px solid #fff;
        padding: 0.5rem;
        z-index: 102;
        box-shadow: 0 2px 2px rgba(0,0,0,.75);
    }

    .blazored-prompt-modal .blazored-modal-header {
        /*display: none;*/
    }
}
